@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4" style="animation-duration:initial">Welcome to Kilimo High School</h3>
    <p>Our Institution is dedicated to providing quality education and fostering a positive learning environment for all students</p>
</div>
